{% extends "layout.html" %}

{% block title %}
    Manage Expenses
{% endblock %}
{% block classscripts %}
            <li ><a href="/"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li class ="active"><a href="/expenses"><i class='bx bx-wallet'></i>Expense</a></li>
            <li><a href="/budgets"><i class='bx bx-layer'></i>Budget</a></li>
            <li><a href="/categories"><i class='bx bx-message-square-dots'></i>Spend Category</a></li>
            <li><a href="/reports"><i class='bx bx-bar-chart-alt-2'></i>Reports</a></li>
            <li><a href="#"><i class='bx bx-bell'></i>Notifications</a></li>
            <li><a href="#"><i class='bx bx-user-pin'></i>About us</a></li>
{% endblock %}

{% block main %}
    <div class="header">
      <div class="left">
          <h1>Manage Expenses</h1>
      </div>
    </div><br>

  <ul class="insights">
    <li>
        <span class="info">
            <h3>
              Add Expenses
            </h3>
            <p>Tracking your individual expenses helps you refine your spending habits and save money.</p>
            <a href="/addexpenses" class="btn btn-blue text-center">Add Expenses</a>
        </span>
    </li>
    <li>
        <span class="info">
            <h3>
              Update or View Expense
            </h3>
            <p>View your expense history or make some relevent changes if needed.</p>
            <a href="/expensehistory" class="btn btn-blue text-center">Update Expenses</a>
        </span>
    </li>  
  </ul>
{% endblock %}