{% extends "layout.html" %}

{% block title %}
    Expenses Added
{% endblock %}
{% block classscripts %}
            <li ><a href="/"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li class ="active"><a href="/expenses"><i class='bx bx-wallet'></i>Expense</a></li>
            <li><a href="/budgets"><i class='bx bx-layer'></i>Budget</a></li>
            <li><a href="/categories"><i class='bx bx-message-square-dots'></i>Spend Category</a></li>
            <li><a href="/reports"><i class='bx bx-bar-chart-alt-2'></i>Reports</a></li>
            <li><a href="#"><i class='bx bx-bell'></i>Notifications</a></li>
            <li><a href="#"><i class='bx bx-user-pin'></i>About us</a></li>
{% endblock %}
{% block main %}
    <h1>Expenses Added</h1>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">Payer</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ result["description"] }}</td>
          <td>{{ result["category"] }}</td>
          <td>{{ result["date"] }}</td>
          <td>{{ result["payer"] }}</td>
          <td>{{ result["amount"] | usd }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}